{% extends 'base.html' %} {% block title %} Home{% endblock title %} {% block
body %}

<div class="container my-3">
  <h3>About me</h3>
  <div class="card">
    <div class="card-body">
      I am Naresh Barfa. I have done B.TECH degree in Computer Science and
      Engineering from Parul University Vadodara in 2020. I am MERN Stack
      Developer and with 8 months of exprience. Currently I am learning MERN
      Stack Course from ATTAINU Benglore.
      <br /><br />
      Follow me here.
      <br />
      <a href="https://www.linkedin.com/in/naresh-barfa-109b7a156/">
        visit linkedin profile</a
      >
      <br />
      <a href="https://github.com/naresh-barfa-au19">visit github</a><br />
      <a href="https://www.instagram.com/nareshbarfa007/"> visit instagram</a>
    </div>
  </div>
  <h3>About project</h3>
  <div class="card">
    <div class="card-body">
      This Park My Car website developed on python , Flask and Sql database. In
      this website, You can park a car providing Car Number and Car Color to
      form and get available slot will be booked for your Car.
      <br /><br />
      Input of car info must be correct.
      <span
        >Example : Car number : XX-00-XX-0000 where X is charector any small or
        capital and 0 represent numbers. Car Color mush be digit only that
        should be grater the 3.
      </span>
      <br />
      Operator can not enter same car number multiple time in form. if Operator
      does. he / she gets alert.
      <br /><br />
      There are Update and Leave button with parked car. With Update button
      Operator Can update info of car if it is wrong.
      <br />
      If user leaves the parking, Operator can click on Leave button of that car
      and make that car exit to the parking.
      <br /><br />
      There is a search button available. Operator can search cars by color.
      <br /><br />
      There is a setting button, in which Operator can increase or decrease the
      number of (space) slot in parking.
      <br />
      NOTE :- default parking size is 5 Slots.
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
  crossorigin="anonymous"
></script>

{% endblock body %}
