{% extends 'base.html' %} {% block title %} Home{% endblock title %} {% block
body %} {% if msg %}
<div class="alert alert-dark alert-dismissible fade show" role="alert">
  <p class="text-center"><strong>{{msg}}</strong></p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% else %}
<div></div>
{% endif %}

<div class="container my-3">
  <h2>Setting Page</h2>
  <form action="/setting" method="POST">
    <div class="mb-3">
      <label for="max_cars" class="form-label">Maximum Parking Slot </label>
      <input
        type="text"
        class="form-control"
        name="max_cars"
        id="max_cars"
        aria-describedby="emailHelp"
        placeholder="Default 5 slot "
      />
    </div>

    <button type="submit" class="btn btn-dark">submit</button>
  </form>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
  crossorigin="anonymous"
></script>

{% endblock body %}
